h1 {
	text-align: center;
}

table {
	margin: 0 auto;
}

td {
	height: 100px;
	width: 100px;
}

.vertical {
	border-left: 2px solid gray;
	border-right: 2px solid gray;
}

.horizontal {
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

/*tr td:nth-of-type(2) {
	border-left: 2px solid gray;
	border-right: 2px solid gray;
}

tr:nth-of-type(2) td {
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}*/