body {
  background-color: #f5d9d5;
  font-family: 'Nunito', sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#headingGroup h1 {
  color: white;
  font-weight: 100;
  font-size: 4rem;
}

#headingGroup span {
  color: #ea1c2c;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-size: 3rem;
  } 
}

.navbar.scrolled {
  background-color: rgb(222, 192, 222);
  transition: background 200ms;
}

.lolli {
  margin: 0 auto;
}

.blurb h2 {
  font-weight: 100;
  font-size: 2.5rem;
  color: #ea1c2c;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}